@charset "UTF-8";

@font-face {
    font-family: 'Barbra Semcondensed';
    src:
         url('fontes/barbra-font/Barbra-High.ttf') format('truetype'),
         url('fontes/barbra-font/Barbra-High.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barbra SemiItalic';
    src: 
        url('fontes/barbra-font/Barbra-HighItalic.ttf') format('truetype'),
        url('fontes/barbra-font/Barbra-HighItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barbra Italic';
    src: 
        url('fontes/barbra-font/Barbra-Italic.ttf') format('truetype'),
        url('fontes/barbra-font/Barbra-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barbra Regular';
    src: 
        url('fontes/barbra-font/Barbra-Regular.ttf') format('truetype'),
        url('fontes/barbra-font/Barbra-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex; 
    font-family: 'Roboto', sans-serif;
    flex-direction: column; 
    background-image: linear-gradient(to right,#043046 0%, #2657b3 100%) !important; 
    background-attachment: fixed;
    margin-bottom: 100px;
}

header {
    background: white;
    border-bottom: solid 2px rgba(140,82,255,1);
    color: black;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: left; 
    font-size: 20px;
}

.titulo {
    font-family: 'Barbra Semcondensed', sans-serif;
    font-size: 24px;
    color: #333; 
    line-height: 70px;

}

.logo {
    height: 75px; 
    margin-right: 40px; 
}

.menu {
    display: flex;
    justify-content: center;
}

#menu  {
    display: flex;
    justify-content: center;

}

#menu ul  {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    margin: 0; padding: 0;
    display: flex;
    background-color: transparent;
    font-family: 'Barbra Semcondensed', sans-serif;
    list-style:none;
}

#menu ul li {
    display: inline;
    margin: 0px 3px; 
}  

#menu ul li a { 
    padding: 1px 45px; 
    display: inline-block; 
    background-color:white; 
    color: black;
    text-decoration: none;
    border-bottom: 2px solid rgba(140,82,255,1);;
    border-radius: 20px;
}

#menu ul li a:hover { 
    background-color:#D6D6D6;
    color: #6D6D6D;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 1100px;
    margin: 20px auto;
    box-shadow: 5px 5px 5px 5px #04283aa2;
    background: white;
    border-radius: 20px;
    line-height: 2em;
    overflow: hidden;
}

section {
    height: 400px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%; 
    padding: 10px;
    border: 1px solid #ccc; 
}

.superior, .inferior {
    flex: 1;
    padding: 10px;
}

.superior {
    background-color: #f9f9f9;
}


.inferior {
    background-color: #e9e9e9;
}

h2 {
    font-family: 'Barbra Regular', sans-serif;
    font-size: 25px;
    text-align: center;
}

.conquista {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.conquista img {
    width: 20px;
    height: auto; 
    margin-top: 10px;
    margin-right: 10px; 
}

.conquista div {
    display: flex;
    flex-direction: column; 
}

.promocao {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.promocao img {
    width: 50px;
    height: auto; 
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -5px;
}

.promocao div {
    display: flex;
    flex-direction: column; 
}


.novonivel {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.novonivel  img {
    width: 40px;
    height: auto; 
    margin-top: 10px;
    margin-left: -10px;
    margin-right: 2px;
}

.novonivel div {
    display: flex;
    flex-direction: column; 
}

.platina {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.platina  img {
    width: 30px;
    height: auto; 
    margin-top: 10px;
    margin-left: -4px;
    margin-right: 8px;
}

.platina div {
    display: flex;
    flex-direction: column; 
}

.aviso {
    position: relative; /* Para posicionar o link em relação ao parágrafo */
}

.aviso p {
    position: relative; /* Para permitir o posicionamento de elementos absolutos */
    padding-bottom: 30px; /* Espaço para o link */
}

.aviso .sombra {
    position: absolute;
    bottom: 0; /* Alinha ao fundo do parágrafo */
    left: 0;
    right: 0;
    height: 20px; /* Altura da sombra */
    background: white; /* Cor da sombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1; /* Garante que a sombra fique abaixo do link */
}

.leia-mais {
    position: absolute;
    bottom: 31px;
    right: -5; 

    text-decoration: none; 
    color: #4d647c;
}

.conteudo {
    height: 100%;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    background-color: whitesmoke;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    margin-bottom: -100px;
}

footer p {
    color: black;
    text-align: center; 
    font-size: 2Opx;
    line-height: 1.5;
}

footer p a {
    font-size: large;
    color: black;
}

footer p a:hover {
    text-decoration: underline; 
}